@media screen and (min-width: 992px) and (max-width: 1199px) {
    .navbar {
        background-color: rgb(0, 0, 0);
     }
     .logo{
      justify-content: space-between
     }
     .content{
        justify-content: center;
        margin-top: 10px;
     }
     .sectionportfolio{
        min-height: 50vh;
     }

     .imgaboutme{
        max-width: 40vh;
        }

        .content{
         margin-top: 9%;
        }
        
}
@media screen and (min-width: 768px) and (max-width: 991px) {
   h1 {
      color: rgb(0, 0, 0);
      font-family: "Nunito Sans", sans-serif;
      font-size: 40px;
      font-weight: 700;
    }
    .navbar {
        background-color: rgb(0, 0, 0);
     }
     .aboutme{
        align-items: center;
        display:flex;
        margin-top: 20%;
        margin-bottom: 20%;
        margin-left: 20px;
        margin-right: 20px;
     }

     .imgaboutme{
        min-width: 40vh;
        max-width: 40vh;
        }

     .content{
        justify-content: center;
        margin-top: 0px;
     }
        .logo{
         justify-content: space-between
         }
         .portfolio{
            display:block;
            align-items: center;
            flex-wrap: wrap;
            margin-top: 0px;
            margin-left: 0px;
            margin-right: 0px;
            margin-bottom: 100px;
            gap: 0px;
            justify-content: space-between
         }
         .sectionportfolio{
            min-height: 50vh;
            max-width: 100vh;
         }
         .gallery-item {
            flex-basis: 22.5%;
            
          }
           .section{
            min-height: 1vh;
            padding-top: 64px;
            align-items: center;
            margin-left: 0px;
            max-width: 100vh;
         }
         .nav-link{
            margin-right: 21px;
            justify-content: space-between;
         }
.swiper{
   max-width: 100vh;
}
}

@media screen and (min-width: 576px) and (max-width: 767px) {
    .navbar {
        background-color: rgb(0, 0, 0);
     }
     h1 {
      color: rgb(0, 0, 0);
      font-family: "Nunito Sans", sans-serif;
      font-size: 40px;
      font-weight: 700;
   }
      p {
         color: rgb(0, 0, 0);
         font-family: "Nunito Sans", sans-serif;
         font-size: 19px;
         line-height: 125%;
       }
       li {
         color: rgb(0, 0, 0);
         font-family: "Nunito Sans", sans-serif;
         font-size: 19px;
         line-height: 125%;
       }
     .imgaboutme{
        min-width: 40vh;
        max-width: 80vh;
        align-items: center;
        display: flex;
        margin-left: 30px;
        }
     .aboutme{
        display:grid;
        min-height: 1vh;
        align-items: center;
        margin-bottom: 100px;
        }
     .block1{
        align-items: center;
        justify-content:center;
        margin-left: 30px;
     }

     .logo{
         justify-content: space-between;
         }
     .imghistory{
        min-width: 50vh;
        max-width: 80vh;
        display:flex;
        align-items: center;
     }
     .imghistory2{
        min-width: 50vh;
        max-width: 80vh;
        display: flex;
     }
     .why{
        display: grid;
        gap: 10px;
        margin-bottom: 30px;
     }
     .section{
        min-height: 1vh;
        padding-top: 64px;
        align-items: center;
        margin-left: 10px;
     }
     
     .portfolio{
      display:block;
      align-items: center;
      flex-wrap: wrap;
      margin-top: 0px;
      margin-left: 10px;
      margin-right: 10px;
      margin-bottom: 100px;
      gap: 0px;
   }
   .sectionportfolio{
      min-height: 50vh;
   }
   .gallery-item {
      flex-basis: 30%;
    }
    .content{
      margin-top: 9%;
     }
     .nav-link:hover {
      margin-right: 22px;
  }
  .nav-link {
   margin-right: 22px;
}
}
@media screen and (max-width: 575px){
   .navbar {
      background-color: rgb(0, 0, 0);
      margin-left: 1px;
      padding: 2%;
      flex-wrap: nowrap;
      max-width: 100vh;
   }

   h1 {
      color: rgb(0, 0, 0);
      font-family: "Nunito Sans", sans-serif;
      font-size: 34px;
      font-weight: 700;}
      p {
         color: rgb(0, 0, 0);
         font-family: "Nunito Sans", sans-serif;
         font-size: 19px;
         line-height: 125%;
       }
       li {
         color: rgb(0, 0, 0);
         font-family: "Nunito Sans", sans-serif;
         font-size: 19px;
         line-height: 125%;
       }
       .swiper{
         margin-top: 50px;
         margin-bottom: 10px;
       }
       .imgaboutme{
         min-width: 36vh;
         max-width: 80vh;
         align-items: center;
         display: flex;
         }
      .aboutme{
         display:grid;
         min-height: 1vh;
         align-items: center;
         margin-bottom: 70px;
         margin-left: 30px;
         margin-right: 30px;
         }
   .block1{
      align-items: center;
      justify-content:center;
   }

   .logo{
      margin-left: 4%;
      font-size: 20px;
       }
       .imghistory{
         min-width: 40vh;
         max-width: 70vh;
         display:flex;
         align-items: center;
      }
      .imghistory2{
         min-width: 40vh;
         max-width: 70vh;
         display: flex;
      }
      .why{
         display: grid;
         gap: 10px;
         margin-bottom: 20px;
         align-items: center;
         margin-left: 30px;
         margin-right: 30px;
      }
      .section{
         min-height: 1vh;
         padding-top: 64px;
         align-items: center;
         max-width: 100vh;
      }
      .portfolio{
         display:block;
         align-items: center;
         flex-wrap: wrap;
         margin-top: 0px;
         margin-bottom: 100px;
         gap: 0px;
      }
      .sectionportfolio{
         min-height: 50vh;
      }
      .gallery-item {
         flex-basis: 45%;
       }
       .content{
         margin-top: 9%;
        }
        .dropdown-toggle{
         margin-right: auto;
         margin-left: 0px;
        }
        .dropdown-menu.show{
width: 40px;
height: 130px;

        }
        .dropdown-item{
         width: 130px;
         justify-content:right
        }
        .nav-link:hover {
         margin-right: 42px;
     }
     .nav-link {
      margin-right: 42px;
  }
}