@media screen and (min-width: 992px) and (max-width: 1199px) {
    .navbar {
        background-color: rgb(0, 0, 0);
     }
     .logo{
        margin-left: 20px;
     }
     .content{
        justify-content: center;
        margin-top: 10px;
     }
     .sectionportfolio{
        min-height: 50vh;
     }

     .imgaboutme{
        max-width: 40vh;
        }
        
}
@media screen and (min-width: 768px) and (max-width: 991px) {
   h1 {
      color: rgb(0, 0, 0);
      font-family: "Nunito Sans", sans-serif;
      font-size: 40px;
      font-weight: 700;
    }
    .navbar {
        background-color: rgb(255, 144, 144);
     }
     .aboutme{
        align-items: center;
        display:flex;
     }

     .imgaboutme{
        min-width: 40vh;
        max-width: 40vh;
        }

     .content{
        justify-content: center;
        margin-top: 10px;
     }
        .logo{
            margin-left: 5px;
         }
         .portfolio{
            display:block;
            align-items: center;
            flex-wrap: wrap;
            margin-top: 0px;
            margin-left: 10px;
            margin-right: 10px;
            margin-bottom: 100px;
            gap: 20px;
         }
         .sectionportfolio{
            min-height: 50vh;
         }
         .gallery-item {
            flex-basis: 22.5%;
            
          }

}

@media screen and (min-width: 576px) and (max-width: 767px) {
    .navbar {
        background-color: rgb(12, 150, 28);
     }
     h1 {
      color: rgb(0, 0, 0);
      font-family: "Nunito Sans", sans-serif;
      font-size: 40px;
      font-weight: 700;
   }
      p {
         color: rgb(0, 0, 0);
         font-family: "Nunito Sans", sans-serif;
         font-size: 19px;
         line-height: 125%;
       }
       li {
         color: rgb(0, 0, 0);
         font-family: "Nunito Sans", sans-serif;
         font-size: 19px;
         line-height: 125%;
       }
     .imgaboutme{
        min-width: 40vh;
        max-width: 80vh;
        align-items: center;
        display: flex;
        margin-left: 30px;
        }
     .aboutme{
        display:grid;
        min-height: 1vh;
        align-items: center;
        margin-bottom: 100px;
        }
     .block1{
        align-items: center;
        justify-content:center;
        margin-left: 30px;
     }

     .logo{
            margin-left: 5px;
         }
     .imghistory{
        min-width: 50vh;
        max-width: 80vh;
        display:flex;
        align-items: center;
     }
     .imghistory2{
        min-width: 50vh;
        max-width: 80vh;
        display: flex;
     }
     .why{
        display: grid;
        gap: 10px;
        margin-bottom: 30px;
     }
     .section{
        min-height: 1vh;
        padding-top: 64px;
        align-items: center;
        margin-left: 10px;
     }
     
     .portfolio{
      display:block;
      align-items: center;
      flex-wrap: wrap;
      margin-top: 0px;
      margin-left: 10px;
      margin-right: 10px;
      margin-bottom: 100px;
      gap: 0px;
   }
   .sectionportfolio{
      min-height: 50vh;
   }
   .gallery-item {
      flex-basis: 30%;
    }
}
@media screen and (max-width: 575px){
   .navbar {
      background-color: rgb(0, 47, 255);
   }
   h1 {
      color: rgb(0, 0, 0);
      font-family: "Nunito Sans", sans-serif;
      font-size: 34px;
      font-weight: 700;}
      p {
         color: rgb(0, 0, 0);
         font-family: "Nunito Sans", sans-serif;
         font-size: 19px;
         line-height: 125%;
       }
       li {
         color: rgb(0, 0, 0);
         font-family: "Nunito Sans", sans-serif;
         font-size: 19px;
         line-height: 125%;
       }
       .swiper{
         margin-top: 50px;
         margin-bottom: 10px;
       }
       .imgaboutme{
         min-width: 36vh;
         max-width: 80vh;
         align-items: center;
         display: flex;
         margin-left: 30px;
         }
      .aboutme{
         display:grid;
         min-height: 1vh;
         align-items: center;
         margin-bottom: 70px;
         }
   .block1{
      align-items: center;
      justify-content:center;
      margin-left: 30px;
   }

   .logo{
          margin-left: 1px;
       }
       .imghistory{
         min-width: 40vh;
         max-width: 70vh;
         display:flex;
         align-items: center;
      }
      .imghistory2{
         min-width: 40vh;
         max-width: 70vh;
         display: flex;
      }
      .why{
         display: grid;
         gap: 10px;
         margin-bottom: 20px;
      }
      .section{
         min-height: 1vh;
         padding-top: 64px;
         align-items: center;
         margin-left: 10px;
      }
      .portfolio{
         display:block;
         align-items: center;
         flex-wrap: wrap;
         margin-top: 0px;
         margin-left: 10px;
         margin-right: 10px;
         margin-bottom: 100px;
         gap: 0px;
      }
      .sectionportfolio{
         min-height: 50vh;
      }
      .gallery-item {
         flex-basis: 47%;
       }
}