html {
  scroll-behavior: smooth;
}


/* header */

.header {
  position: sticky;
  top: 0px;
  z-index: 99;
}

.navbar {
  background-color: black;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 4px 32px;
}

.logo {
  color: white;
  font-size: 25px;
  font-family: "Nunito Sans", sans-serif;
  margin-left: 70px;
  background-color: transparent;
  text-decoration: none;
  background-color: none;
}

.menu {
  font-family: "Nunito Sans", sans-serif;
  list-style: none;
  background-color: black;
  padding: 0px;
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: flex-end;
}
.menu a {
  color: white;
  text-decoration: none;
  font-size: 16px;
  padding: 4px 8px;
  margin: 0px 4px;
  border: 0px solid transparent;
  border-radius: 16px;
  background-color: transparent;
  transition: all 0.5s ease;
}

a {
  text-decoration: none;
  color: white;
}
a:hover {
  color: rgb(174, 174, 174);
  text-decoration: none;
}

/* dropdown*/
.dropdown-item{
  color: rgb(255, 255, 255);
}
.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0%;
  padding-right: 0px;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 10rem;
  padding: 0.5rem 0;
  margin: 0.125rem 0 0;
  font-size: 1rem;
  color: #000000;
  text-align: left;
  list-style: none;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid rgba(0,0,0,.15);
  border-radius: 0.25rem;}
.dropdown-menu.show{
background-color: black;
padding: 0px;
}
.dropdown, .dropleft, .dropright, .dropup {
  position: relative;
  display: flex;
}

 /* body */

 body {
  display: block;
  margin: 0px;
}

h1 {
  color: rgb(0, 0, 0);
  font-family: "Nunito Sans", sans-serif;
  font-size: 45px;
  font-weight: 700;
}
h2 {
  color: rgb(0, 0, 0);
  font-family: "Nunito Sans", sans-serif;
  font-size: 30px;
  font-weight: 600;
  line-height: 125%;
  text-align: center;
}

p {
  color: rgb(0, 0, 0);
  font-family: "Nunito Sans", sans-serif;
  font-size: 20px;
  line-height: 125%;
}

li {
  color: rgb(0, 0, 0);
  font-family: "Nunito Sans", sans-serif;
  font-size: 20px;
  line-height: 125%;
}

/* about me*/

.aboutme {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 0px;
  margin-left: 70px;
  margin-right: 100px;
  margin-bottom: 0px;
  gap: 30px;
}

.block1 {
  align-items: center;
  justify-content: space-between;
}

.section.first {
  padding-top: 0px;
}

/* swiper*/

.swiper-button-next,
.swiper-button-prev {
  color: rgb(255, 255, 255);
  opacity: 0.25;
  transition: all 0.5s ease;
}

.swiper:hover .swiper-button-next,
.swiper:hover .swiper-button-prev {
  opacity: 1;
  color: rgb(255, 255, 255);

}

.swiper-pagination-bullets {
  height: 3%;
}
.swiper-pagination-bullet {
  background-color: white;
}

.imgswiperslide{
  border-radius: 0px;
  max-width: 100%;
  height: auto;
}

.swiper {
  background: black;
}
.swiper-pagination-bullet ,
.swiper-pagination-bullet-active {
color: white;
}

/*second part "why"*/

.section {
  min-height: 100vh;
  padding-top: 64px;
}

.why {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 0px;
  margin-left: 70px;
  margin-right: 100px;
  margin-bottom: 100px;
  gap: 30px;
}

img {
  border-radius: 20px;
  max-width: 100%;
  height: auto;
}
.imgaboutme {
  max-width: 40vh;
}
.imghistory {
  min-width: 30vh;
  max-width: 100vh;
}
.imghistory2 {
  min-width: 30vh;
  max-width: 100vh;
}

/* section portfolio */
.extra-p {
  color: white;
  font-family: "Nunito Sans", sans-serif;
  font-size: 20px;
  text-align: center;
  background-color: black;
}

.sectionportfolio {
  min-height: 100vh;
  padding-top: 64px;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 0px;
  margin-left: 30px;
  margin-right: 30px;
  margin-bottom: 0px;
}

.gallery img {
  width: auto;
  height: auto;
}

.gallery-item {
  flex-basis: 23%;
  
}

.gallery a {
  display: flex;
}

/* contacts */

.icons {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.content {
  justify-content: center;
    margin-top: 5%;
}